<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.allinonefx.models.User"/>
        <typeAlias alias="Category" type="com.allinonefx.model.Category"/>
        <typeAlias alias="Country" type="com.allinonefx.model.Country"/>
        <typeAlias alias="Customer" type="com.allinonefx.model.Customer"/>
        <typeAlias alias="Film" type="com.allinonefx.model.Film"/>
    </typeAliases>
 
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--  connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/sakila"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mapper/User.xml"/>
        <mapper resource="mybatis/mapper/CategoryMapper.xml"/>
        <mapper resource="mybatis/mapper/CountryMapper.xml"/>
        <mapper resource="mybatis/mapper/CustomerMapper.xml"/>
        <mapper resource="mybatis/mapper/FilmMapper.xml"/>
    </mappers>
</configuration>